[Bb]in
[Oo]bj
*.user
*.suo
_Resharper.*
*.resharper
*.cache
*.db
*~
*.pidb
*.userprefs
_UpgradeReport_Files
UpgradeLog.XML
setup.exe
config.status
config.log
/debian/files
*.log
*.substvars
*.debhelper
/debian/pedalog-interface
/debian/tmp
