<?xml version="1.0"?>
<configuration>
	<startup><supportedRuntime version="v2.0.50727"/></startup>
	
	<!-- If using Mono, the dllmap section(s) below make sure the correct
	     version of libpedalog is used, and libpedalog-dev does not need
	     installing on other computers this program is installed on. -->
	<dllmap dll="libpedalog.dll" os="linux" target="libpedalog.so.0"/>
	<!-- Add entries here if libpedalog binaries for other OSes are added -->
</configuration>
